<!DOCTYPE html>
<html>
<head>
    <title>Bibliothèque</title>
</head>
<body>
    <h1>Liste de nos livres</h1>
     <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date de publication</th>
                <th>Prix</th>
                <th>Langue</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publication_date }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.language }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>